{% extends 'layout.html' %}
{% block body %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white p-4 p-lg-5 w-100 fmxw-1000">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">FAQ's</h1>
                    </div>
                    <img src="/static/html/assets/img/questions_desc.png">
                    

                    <div class="container" id="test">
                        <div class="card-body">
                            <div class="qanda">
                                <h5>
                                    Are there any privacy concerns?</h5>
                                <hr>
                                <p>
                                    Our platform ensures that students’ activities are only monitored during academic hours and not during breaks or personal time. Even when learning remotely, students can be assured that their privacy is respected. Our stance on privacy is that educators have the right to track academic engagement during study hours but have no right to monitor students' personal activities outside of learning sessions.
                                 </p>
                            </div>
                            <div class="qanda">
                                <h5>
                                    Is this software intrusive? </h5>
                                <hr>
                                <p>
                                    No, our system respects student privacy. It only tracks learning-related activities during academic hours and does not monitor personal use. Unlike other software that tracks all computer activity, our system distinguishes between study time and personal time, ensuring a balanced approach to student monitoring.</p>
                            </div>
                            <div class="qanda">
                                <h5>
                                    I don’t need to "monitor" my students. Is there any benefit to this software?</h5>
                                <hr>
                                <p>
                                    Absolutely! While monitoring is one part of the platform, the majority of its benefits come from helping students manage their time better, improving their focus, and providing teachers with insights into student engagement. These insights help in identifying struggling students, improving lesson plans, and enhancing overall academic efficiency. Teachers can also track time spent on assignments, participation in virtual classes, and learning patterns to improve educational outcomes.</p>
                            </div>

                            <div class="qanda">
                                <h5>
                                    
                                    Is student monitoring legal?

                                 <hr>
                                <p>
                                    In most jurisdictions employee monitoring is legal with no restrictions. However, there may be restrictions on what employee activities you monitor or record. Please consult your legal counsel to ensure you are implementing employee monitoring within the legal and regulatory guidelines applicable to your organization and jurisdiction. MyRemoteDesk is fully customizable with respect to its monitoring and recording features to abide by any legal, ethical or regulatory restrictions.
                                 </p>
                            </div>


                            <div class="qanda">
                                <h5>
                                    How can I turn monitoring on/off for a student or class?
                                 <hr>
                                <p>
                                    Monitoring can be enabled or disabled for specific students or entire classes through the teacher dashboard. Teachers can control monitoring settings to align with class requirements and privacy policies.
                                 </p>
                            </div>



                            <div class="qanda">
                                <h5>
                                    How can I measure student productivity?
                                     <hr>
                                <p>
                                    Our interactive dashboards and student analytics provide teachers with insights into students’ engagement levels, participation in class activities, and time spent on assignments. This data helps educators identify areas where students need support, improve lesson plans, and ensure an effective learning environment.   
                                </p>
                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}