{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="container">
        <div class="row justify-content-between align-items-center">
                <div class="col">
                        <div class="card">
                                <div class="row card-body">
                                        <div class="col">
                                                <h1 class="display-2 mb-4">Student Monitoring & Productivity Management Software</h1>
                                                <h3 class="display-4 mb-4">Deter. Detect. Prevent.</h3>
                                                <p class="lead mb-4 text-muted">Know exactly what your students are doing in real-time.</p>
                                        </div>
                                        <div class="col text-right">
                                                <img src="/static/html/assets/img/group-working-1.gif" />
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div class="container">
        <br />
        <br />

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <div id="platform-exam_proctoring" class="platform-animation">
                                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_omszt4va.json"
                                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                                        autoplay>
                                </lottie-player>
                        </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Our Mission</h1>
                        <p class="lead mb-4 text-muted">We are on a mission to empower educational institutions around the globe. Our highly experienced team is working day and night to create powerful academic management tools that can reduce educators' workload and allow them to harness the full potential of their students.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fdLGjD.json"
                                background="transparent" speed="1" style="width: 600px; height: 500px;" loop autoplay>
                        </lottie-player>
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Our Vision</h1>
                        <p class="lead mb-4 text-muted">We strive to provide a comprehensive academic management platform to support and enhance learning during challenging times. In recent years, the education sector has faced numerous disruptions, impacting institutions and students alike. Our team is dedicated to developing a robust platform for schools, colleges, and universities, leveraging modern technology to ensure seamless learning and administration. We aim to create a futuristic, cloud-based academic environment for educators and students to thrive.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <div id="platform-exam_proctoring" class="platform-animation">
                                <img class="mb-3 mt-3"
                                        src="/static/html/assets/img/5e8c63b23fc11bddb44045d7_track time from anywhere.svg"
                                        alt="">
                        </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Automated Attendance and Real-Time Monitoring.</h1>
                        <p class="lead mb-4 text-muted">
                                Track when your students log in and out, monitor their break times, and analyze how much time they actively engage in learning.<br />
                                Check what your students are currently doing in real-time to ensure focused and productive study sessions.
                        </p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/07-application-usage.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">App usage.</h1>
                        <p class="lead mb-4 text-muted">Run a productivity check on your students with the App Usage feature. This helps you track and analyze the applications students use during study hours, ensuring focused and effective learning.</p>
                </div>
        </div>


        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de38fd6df29784ec1d6_ill3.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Acquire Screenshots of Students</h1>
                        <p class="lead mb-4 text-muted">Our platform ensures complete transparency by capturing screenshots at fixed intervals, helping educators monitor student activities in real time.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/20-reports.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Observe and Analyse</h1>
                        <p class="lead mb-4 text-muted">Our platform allows you to monitor and assess student performance, helping educators make data-driven decisions to enhance learning and engagement.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de17ea4ad3bc7625849_ill4.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Organize Your Tasks</h1>
                        <p class="lead mb-4 text-muted">Break down assignments into smaller tasks, assign them to students, and set priorities so that everyone knows what to focus on next for effective learning and progress.</p>
                </div>
        </div>

                <div class="row align-items-center my-large">
                        <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/Hybrid_Workforce_Animated_Hero_Banner.gif">
                        </div>
                        <div class="col-md-6 col-lg-5 order-md-1">
                                <h1 class="display-2 mb-4">Modernize your meeting solution </h1>
                                <p class="lead mb-4 text-muted">Our platform provides the tools to make every virtual class or study session seamless. Focus on academic discussions without interruptions—share and play videos with full audio and video transmission without the need to upload content.
                </p>
                        </div>
                </div>


                        <div class="row align-items-center my-large">
                                <div class="col-md-6">
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_Tcz0nk.json" background="transparent" speed="1"
        style="width: 500px; height: 500px;" loop autoplay></lottie-player>                                </div>
                                <div class="col-md-6 col-lg-5 offset-lg-1">
                                        <h1 class="display-2 mb-4">Interactive Dashboards for Teacher & Student</h1>
                                        <p class="lead mb-4 text-muted">An interactive dashboard for institutions and students to stay connected, track various academic activities, and monitor student engagement and productivity.</p>
                                </div>
                        </div>

<div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de1f523aa6599c4b1c1_ill2.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Improve Student performance</h1>
                        <p class="lead mb-4 text-muted">Monitor which apps and websites your students are using during study hours, including their frequency and time spent on each.<br />
                                Categorize all apps and websites into productive or unproductive and access advanced productivity charts and reports to enhance student focus and learning efficiency.
                        </p>
                </div>
        </div>
</div>

<br>

<div class="container">
        <div class="card shadow bg-white text-primary">
                <div class="card-body">

                        <div class="container">
                                <div class="row">
                                        <div class="col-10 offset-1">
                                                <h1 class="text-center">From Global to Granular, See the
                                                        Key Performance Indicators that Matter</h1>
                                                <h3 class="text-center">Committed to Your Success</h3>
                                                <div class="row  justify-content-center feature-container">

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j1.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Increase Student Efficiency

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Analyze each student’s academic performance in real-time to make informed decisions, helping them improve productivity and become better learners.
                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j2.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Timely Completion of Assignments

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Our student tracker allows educators to assign and monitor tasks through a centralized dashboard, ensuring coursework is completed on time without compromising quality.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j3.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Eliminate Unnecessary Time Wastage

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                By evaluating study patterns, identify and eliminate distractions that hinder student progress, keeping them on track with their academic goals.
                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j4.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Maximize Academic Growth

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Enhance student learning outcomes by optimizing their study time and providing a structured approach to improve efficiency.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j5.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Boost Time Management Skills

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Instant alerts and real-time tracking help students manage their time effectively, ensuring they stay on schedule and improve their academic performance.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j6.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Privacy for Students

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Even with real-time tracking, student privacy remains a top priority. Only authorized educators and administrators can access academic activity records.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j7.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Maintain Discipline in Educational Institutions

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Ensure students follow a structured and disciplined learning environment with detailed time-tracking reports and performance-enhancing features.
                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j8.png"
                                                                                                        alt="Free Technical Support">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Increase Student Productivity

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Using a real-time tracking dashboard, educators can identify areas where students struggle and develop personalized strategies to boost their academic performance.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j9.png"
                                                                                                        alt="Unmatched Scalability">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Transparency Between Educators and Students

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Our academic time-tracking system eliminates communication barriers, fostering a transparent and supportive learning environment.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j10.png"
                                                                                                        alt="User Satisfaction">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Identify and Eliminate Unproductive Activities

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Educators can pinpoint distractions affecting student focus and implement strategies to minimize them, promoting better learning habits.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j11.png"
                                                                                                        alt="Unparalleled Uptime">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Better Project Planning

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Our project management system helps educators break down coursework into smaller, actionable tasks, making learning more structured and manageable.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j12.png"
                                                                                                        alt="Technology">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Never Miss Any Important Update

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Students receive instant notifications about new assignments, meetings, and academic updates, ensuring they stay informed and on track.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
</section>



</div>
</div>
</div>

</div>
</div>

{% endblock %}